// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


body {
  background-image: linear-gradient(to right, #70dead , #00cf72);
  color: white;
}

a:hover {
  text-decoration: none;
}
